$font-family: 'Rubik', sans-serif;

$color-profile:hsl(246, 80%, 60%);
$color-work:hsl(15, 100%, 70%);
$color-play:hsl(195, 74%, 62%);
$color-study:hsl(348, 100%, 68%);
$color-exercise:hsl(145, 58%, 55%);
$color-social:hsl(264, 64%, 52%);
$color-self-care:hsl(43, 84%, 65%);

$color-background:hsl(226, 43%, 10%);
$color-card-background:hsl(235, 46%, 20%);
$color-link:hsl(235, 45%, 61%);
$color-text:hsl(236, 100%, 87%);


$fs-small: 0.75rem;
$fs-medium: 0.875rem;
$fs-regular: 1.125rem;
$fs-large: 1.5rem;